@media screen and (max-width: 1000px) {
    .boxes{
        flex-wrap: wrap;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .hero h1{
        font-size: 20px;
    }
    .hero h4{
        font-size: 15px;
    }
    .boxes h1{
        font-size: 20px;

    }
    .boxes h4{
        font-size: 10px;
    }
    
    
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #000;
}

.main {
    background-image: url("Assets/bg.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
    height: 80vh;
    position: relative;
}

.main .box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.4;
    background: #000;
}
.logo img{
    width: 15vh;
    height: 10vh;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav .all{
    display: flex;
    margin: 2vh;
    gap: 1vh;
}
nav .language {
    width: 13vh;
    height: 4vh;
    background-color: rgba(23, 23 ,23, 0.7);
    border-radius: 6px;
    border: 1px solid white;
    
}
nav .language h5{
    color: rgb(255, 255, 255);
    font-size: larger;
    text-align: center;
}
nav .sign{
    width: 13vh;
    height: 4vh;
    background: red;
    opacity: 1;
    border-radius: 6px;
    border: 1px solid white;
}
nav .sign h5{
    color: rgb(255, 255, 255);
    font-size: larger;
    text-align: center;
}
.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20vh;
    color: rgb(255, 255, 255);
    position: relative;
}
.hero h1{
    font-size: 40px;
    font-weight: 900;
}
.hero .input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
    margin: 2vh;
}
.hero .input div input{
    padding: 4px;
    color: white;
    font-size: 20px;
    background: rgba(23, 23, 23 ,0.7);
    border: 1px solid rgba(255, 255, 255,0.5);
}
.hero .input div input::placeholder{
    color: white;
}
.hero .input span button{
background-color: red;
font-size: 20px;
font-weight: 600;
color: white;
padding: 4px;
}
.seperation{
    height: 8px;
    background: rgb(62, 62, 62);
}
.box1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12vw;
}
.text{
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
    margin-top: 10vw;
    
}
.text h1{
    font-size: 48px;
    font-weight: 800;
}
.text h4{
    font-size: x-large;
}
.box1 .image img{
    position: absolute;
    z-index: 0;
}
.box1 .image video{
   position: relative;
   left: 46px;
   top: 68px;
   border-radius: 6px;
}
.box2{
    display: flex;
    flex-direction: row;
    margin: 8vw;
}
.box2 .text h1{
    font-size: 35px;
    font-weight: 800;
}
.box3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12vw;
    height: 500px;
}
.box3 .image img{
    position: absolute;
    right: 20px;
}
.box3 .image video{
    position: relative;
    top: 97px;
    left: 55px;
    border-radius: 8px;
}
.box4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 12vw;
}
.faq{
    margin: 4vw;
}
.faq .tag{
    color: white;
    font-size: xx-large;
    text-align: center;
}
.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}
.options .query{
    color: white;
    background: #2e2d2d;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
    max-width: 80%;
    margin-left: 90px;
   
}
.options .query:hover{
    cursor: pointer;
    background: #5a5858;
    transition: all 0.5s ease-out;
}
.options .query svg,span{
    color: white;
    font-size: larger;
    font-weight: 600;
}
footer {
    color: white;
     margin: 2vw;
     max-width: 60vw;
     height: 20vw;
    margin: auto;
}
footer .question{
    padding: 34px 0;
    font-weight: bolder;
    font-size: 16px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}
.footer-item{
    display: flex;
    flex-direction: column;
}
.footer-item ul li{
list-style: none;
font-size: 16px;

}